.sidebar-item {
    
    align-items: left;
    text-align: left;
}


.icon-fit {
    width: 90%;
    height: 75px;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.small-title {
    text-align: left;
    color: grey;
    margin-left: 10px;
    padding-left: 15px;
}

.my_sidebar {
    margin-top: -20px;
    position: fixed;
   height: 1000px;
   
    
}

.MySideBar {
    background-color: aqua;
}